    <button id="menu-toggle" onclick="toggleMenu();"></button>
    <nav class="nav-primary">
        <div class="menu-main-menu-container">
            <ul class="nav">
                
                {{ $currentPage := . }}
                
                {{ range .Site.Menus.main }}
          
                <li class="menu-item {{ if .HasChildren }}menu-item-has-children{{end}} {{if $currentPage.IsMenuCurrent "main" . }} current-menu-item {{end}}"><a href="{{ .URL }}"><i class="{{ .Pre }}"></i> {{ .Name }}</a>
                    {{ if .HasChildren }}
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="menu-item {{if $currentPage.IsMenuCurrent "main" . }} current-menu-item {{end}}"><a href="{{ .URL }}"><i class="{{ .Pre }}"></i> {{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
            </li>
            {{end}}
        </ul>
    </div>
    </nav>