    <div class='sidelinks'>
        <h3>RESOURCES</h3>
        <ul>
            <li><a href="http://github.com/m1h4"><i class="fa fa-github"></i> GitHub</a></li>
            <li><a href="http://twitter.com/m1h0v1l1c"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="http://bitbucket.org/m1h4"><i class="fa fa-bitbucket"></i> BitBucket</a></li>
            <li><a href="http://instagram.com/m1h4"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
        <h3>EXTERNAL</h3>
        <ul>
            <li><a href="http://photomath.net"><i class="fa fa-external-link"></i> Photomath</a> <small>(work)</small></li>
            <li><a href="http://microblink.com"><i class="fa fa-external-link"></i> MicroBlink</a> <small>(associate)</small></li>
        </ul>
    </div>