        <footer class="content-info">
            <hr>
            <div class="container">
                <section class="left">
                    Content © <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Author }}</a> {{ .Site.Params.copyrightYear }}. All Rights Reserved.
            	</section>
                <section class="right">
                    <a href=" {{ .Site.RSSLink }} "><i class="fa fa-rss-square"></i> News feed</a>
            	</section>
            </div>
        </footer>
        <script src="/js/menu.js"></script>
    </body>
</html>
